PORT=""
DATABASE_URL=""
NODE_ENV=""
BCRYPT_SALT_ROUND=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRES_IN=""

# CLOUDINARY 
CLOUDINARY_CLOUDE_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""